{% load active_tab %}


<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
 		<span class="navbar-toggler-icon"></span>
 	</button>
 	<div class="collapse navbar-collapse" id="navbarText">
 		<ul class="navbar-nav mr-auto">
 			<li class="nav-item {{ request.path|active:'users_list' }}">
 				<a class="nav-link" href="{% url 'users_list' %}">Users</a>
 			</li>
            <li class="nav-item {{ request.path|active:'groups_list' }}">
 				<a class="nav-link" href="{% url 'groups_list' %}">Users</a>
 			</li>
 		</ul>
 	</div>
</nav>
